.article {
  &:not(:first-child) {
    margin-top: 50px;
  }

  .read-more {
    text-align: right;
  }
}

#error_explanation {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  margin: 20px 0;

  h2 {
    font-size: 14px;
    color: #666;
    margin-left: 14px;
  }

  ul {
    margin: 24px 12px;
    padding: 24px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}